@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&family=Georgia:ital@1&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Georgia", serif;
}

:root {
  --bg: #ffffff;
  --ink: #003366;
  --line: #003366;
  --primary: #005bb7;
  --secondary: #0082ff;
  --accent: #e6f2ff;
}

body {
  background-color: var(--bg);
  color: var(--ink);
  font-family: var(--font-sans);
}

